// Fonts
@font-face {
	font-family: 'Poppins';
	src: url(assets/Poppins.ttf);
}

@font-face {
	font-family: 'Quicksand';
	src: url(assets/Quicksand.otf);
}



// Codes

body {
    font-family: 'Quicksand', 'sans-serif';
}
